<!--
  ~ Copyright (c) 2021/  1/ 17.  Created by Hashim Tahir
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashim.music_player">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
